@import '../../index.scss';

.bgNavbar {
    background-color: $lightBgColor;


}

#logo {
    font-weight: 900;
    font-size: 30px;
}

#links {
    font-size: 18px;
}

#icons {
    font-size: 18px;
}